body {	
	font-family: Helvetica,Arial,sans-serif;
	margin: 0px;
	overflow:hidden;
}

div {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	/*width: 960px;*/
	height:100%;
	/*margin:0px auto;*/
	text-align:center;
}

h1 {
	font-size: 3em;
	padding: 10px;
	margin: 0px;
}

#header_container {
	position:absolute;
	left:0px;
	width:100%;
	height:100px;
}

#header_text_container {
	width:100%;
	height: 100%;
	background-color: #B5C4C9;
	/*border-radius: 0 0 6px 6px;*/
	border-bottom: 4px solid #4E4E4E;
}

#header_text {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: relative;
}

#link_container {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}


/*
Is it better to have the sidebar responsive/as percentage or set in pixels?
Not having it as pixels prevents people from zooming in to see more detail I think... Have to try it out
*/
#sidebar {
	width:20%;
	position:absolute;
	left: 0;
	top: 104px;
	background-color: #E0E0E0;
	bottom:0;
	overflow:auto;
	max-width:20%;
	overflow: hidden;
}

#sites_container{
	height:75%;
	overflow-y: scroll;
}

.site {
	border-bottom: 2px solid #4E4E4E;
	padding: 10px
}

.site:hover {
	cursor:pointer;
}

.site_button {
	width:90%;
}

.site .indicator {
	height: 10px;
	width: 10px;
	background-color: lightgreen;
	position: relative;
	left: 90%;
	top: -14px;
}

.site h4 {
	padding: 0px;
	margin: 0px;
}


#updates_pane {
	width:100%;
	bottom:0px;
	height:25%;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 5px solid #4E4E4E;
}


.updates_row {
	border-bottom: 1px solid #4E4E4E;
	padding: 5px;
}

.updates_freed {
	background: rgba(0, 255, 0, 0.15);
}

.updates_taken {
	background: rgba(255, 0, 0, 0.15);
}


#main {
	position:absolute;
	margin-left:20%;
	width: 80%;
	height: calc(100% - 104px);
	top:104px;
	background-color: #E0E0E0;
}

#svg_container {
	height:100%;
	max-height:100%;
	width:100%;
	overflow:scroll;
	background:white;
}

.control_button {
	height:40px;
	width:40px;
	background-color:white;
	border:2px solid #818181;
	border-radius:6px;
	margin:5px;
}

#control_group {
	float:left;
	width: 50px;
	padding:10px;
	position:absolute;
	z-index:1;
	float: left;
	margin: 5px;
}


#tooltip {
	position:absolute;
	pointer-events: none;
	border-radius: 6px;
	background: #101010 ;
	visibility: hidden;
	font-size: 1.00em;
	z-index: 5;
	padding: 17px;
	color: white;

	-webkit-box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);
	-moz-box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);
	box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);
}

#tooltip .label {
	font-weight: bold;
	float: left;
	clear: both;
}

#tooltip .data {
	float:right;
	margin-left: 15px;
	max-width:225px;
	text-align: right;
}

#tooltip #room {
	border-bottom: 2px solid white;
	font-weight:bold;
	font-size:1.5em;
}

.detail_text {
	font-size:0.9em;
}

/*
	Styling for changing the rooms
*/

.unavailable {
	/*stroke: #000000;*/
	stroke-opacity: 0.0;
	fill: #000000;
	fill-opacity: 0.0;
	stroke-width:2.02276468;
}

.available {
	/*stroke: #00ff00;*/
	stroke-opacity: 0.0;
	fill: #00ff00;
	fill-opacity: 0.4;
	stroke-width:2.02276468;
}

.occupied {
	/*stroke: #ff0000;*/
	stroke-opacity: 0.0;
	fill: #ff0000;
	fill-opacity: 0.4;
	stroke-width:2.02276468;
}
