body {
	font-family: Helvetica,Arial,sans-serif;
	margin: 0px;
	overflow:hidden;
}

div {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	/*width: 960px;*/
	height:100%;
	/*margin:0px auto;*/
	text-align:center;
}

h1 {
	font-size: 3em;
	padding: 10px;
	margin: 0px;
}

#header_container {
	position:absolute;
	left:0px;
	width:100%;
	height:140px;
}

#header_spacer {
	width:100%;
	height:10%;
	background-color:#434756;
}

#header_text_container {
	width:100%;
	height: 90%;
	background-color: #B5C4C9;
	/*border-radius: 0 0 6px 6px;*/
	border-bottom: 4px solid #4E4E4E;
}

#header_text {
	padding:50px;
}


/*
Is it better to have the sidebar responsive/as percentage or set in pixels?
Not having it as pixels prevents people from zooming in to see more detail I think... Have to try it out
*/
#sidebar {
	width:20%;
	position:absolute;
	left: 0;
	top: 144px;
	background-color: #E0E0E0;
	bottom:0;
	overflow:auto;
	max-width:20%;
	
}

.site {
	width:99%;
	border-bottom: 4px solid #4E4E4E;
	border-right: 2px solid #4E4E4E;
	border-left: 2px solid #4E4E4E;
	padding-bottom: 5px;
}

.site:hover {
	cursor:pointer;
}

.site_button {
	width:90%;
}

.site h4 {
	padding: 10px 0px 5px;
	margin: 0px;
}

#main {
	position:absolute;
	margin-left:20%;
	width: 80%;
	height: calc(100% - 154px);
	top:154px;
	background-color: #E0E0E0;
}

#embed_container {
	height:100%;
	width:100%;
	margin:0px;
	background:white;
	border: 0px;
}

#svg_embed {
	width:100%;
	height:100%;
	margin:0 0 0 0 ;
	background:white;
	border: 0px;
}

.control_button {
	height:40px;
	width:40px;
	background-color:#EEEEEE;
	border:2px solid #818181;
	border-radius:6px;
}

#control_group {
	float:left;
	width: 50px;
	padding:10px;
	position:absolute;
	z-index:1;
}

#zoom_in {
	float:left;
	margin: 5px 5px 5px 5px;
}
#zoom_out {
	float:left;
	margin: 5px 5px 5px 5px;
}


#tooltip {
	position:absolute;
	pointer-events: none;
	border: 2px solid white;
	border-radius: 6px;
	background: #E0E0E0;
	background: linear-gradient(to bottom, #6D6D6D 0%, #000 100%) repeat scroll 0% 0% transparent;
	visibility: hidden;
	font-size: 1.25em;
	z-index: 5;
	padding: 17px;
	color: white;
	
	-webkit-box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);
	-moz-box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);
	box-shadow: 0px 0px 25px -2px rgba(43,43,43,1);

}

#tooltip #room {
	border-bottom: 2px solid white;
	font-weight:bold;
	font-size:1.5em;
}


/*
#ccw_rotate {
	float:left;
	margin:0 2px 0 6px;
}
#cw_rotate {
	float:left;
	margin:0 6px 0 2px;
}*/